  
body {
	background: black;
	font-size: 62.5%;
}

header {
	background: black;
	margin: 0px auto;
	height: auto;
	overflow: hidden;
}

.menu {
	display: block;
	width: 100%;
	height: 100px;
    margin: 0 auto;
    float: right;
}

.menu li {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	height: 80px;
	line-height: 80px;
}

nav {
	font-size: 1.2em;
	margin: 0px auto;
	width: 650px;

	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-align: center;
}


nav li {
	display: inline;
}

nav a:link, nav a:active, nav a:visited {
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.6em;

}

nav a:hover {
	color: #808080 ;
	background: black;
	-webkit-animation-name: navfade;
	-webkit-animation-duration: 3s;
}


@keyframes navfade{
	0% {opacity: 0;}
	25% {opacity: 2.5;}
	50% {opacity: 5.0;}
	75% {opacity: 7.5;}
	100% {opacity: 1;}
}

.content a{
	text-decoration: underline;
text-decoration-color: white;
}


.logo {
	display: inline-block;
	vertical-align: top;
    height: 60px;
    width: auto;
 	margin-top: 15px;
    margin-left: auto;
  margin-right: auto;

}




.content {
	width: 75%;
	margin: 0px auto;
	max-width: 600px;
	background-color: black;
	padding: 30px 30px 30px 30px;
	margin-top: 30px;
	text-align: left;

}

.content img{
	width: 50%;
	display: inline-block;
margin-right: 50px;
float: left;

}

.content p,h1,h2{
	color: white;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 2.0em;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.4em;

}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8em;
}
img {
	width: 70%;

}

.language {
	font-size: 2em;
}

footer {
	background: black;
	margin: 0px auto;
	height: auto;
	overflow: hidden;
	text-align: center;
	margin-top: 30px;
	clear: both;
}

footer p {
	color: white;
}